.container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.menu {
  display: flex;
  gap: 20px;
}
.button {
  display: flex;
  background-color: dodgerblue;
  height: fit-content;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
}
.text {
  font-size: 16px;
  color: white;
}
.header {
  color: black;
  font-size: 42px;
}

button:hover {
  border-color: #646cff;
  color: black;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
